
.sales_list {
    margin: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 1em;

    /* drop shadow */
    filter: drop-shadow(2px 2px 2px #333);
}

.leaderboard_row {
    background-color: #c0c0c6;
    padding: .8em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.guide {
    border-width: 2px;
    border-style: dashed none none none;
    flex-grow: 4;
    border-width: 3px;
    color: #909094;
}

@media screen and (min-width: 768px) {
    .sales_list {
        margin: 2em auto;
        width: 70%;
    }

    .leaderboard_row {
    
    }
}